.slider {
  width: 40%;
  overflow: hidden;
  margin: 0 auto;
}

.carrossel {
  display: flex;
  transition: transform 0.5s ease;
}

.slideItem {
  width: 100%;
  display: flex;          
  flex-direction: row;      
  align-items: center;
  flex-shrink: 0;
  gap: 20px;               
}

.imagem {
  width: 50%;
  height: auto;
  object-fit: cover;
  display: block;
}

.texto{
    width: 50%;
    padding: 20px;
}

h5{
    font-weight: normal;
}


h2{
   font-weight: bold;
}

.pontosNavegacao {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 25px;
}

.ponto {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.pontoAtual {
  background: black;
}

.slider {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  .slider {
    background-color: black;
    color: white;
  }

  .texto h2,
  .texto h5 {
    color: white;
  }

  .ponto {
    background: #555;
  }

  .pontoAtual {
    background: white;
  }
}

