.slider {
  width: 50vw;
  overflow: hidden;
  margin: 2vw 0 0;
  position: relative;
}

.carrossel {
  display: flex;
  transition: transform 0.5s ease;
}

.slideItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
}

.imagem {
  width: 50%;
}

.texto {
  width: 50%;
  padding: 1vw;
}

h5 {
  font-weight: normal;
}

.pontosNavegacao {
  display: flex;
  gap: 1vw;
  justify-content: center;
  margin-top: 2vw;
}

.ponto {
  width: 0.8vw;
  height: 0.8vw;
  background: #555555;
  border-radius: 50%;
  cursor: pointer;
}

.pontoAtual {
  background: white;
}

@media (prefers-color-scheme: light) {
  .ponto {
    background: #CCCCCC;
  }

  .pontoAtual {
    background: black;
  }
}