.card {
  width: 60%;        
  height: 300px;
  display: flex;
  background: linear-gradient(to bottom, #6D1ADA, #300962);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.foto {
  width: 50%;          
  height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.imagem {
  width: 80%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info {
  width: 80%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.titulo {
  margin: 0;
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.descricao {
  margin: 0;
  font-size: 0.95rem;
  padding-right: 40px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.7);
}

