.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15vh;
}

/* Texto Inicial */
.textoInicialBox {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.textoInicialBox h1 {
  font-size: 5rem;
  margin-bottom: 1vh;
}

.textoInicialBox p {
  font-size: 1.2rem;
  line-height: 2rem;
}

/* Cards Informativos */
.cardsInformativosBox,
.cardsIntegrantesBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardsInformativosTitulo,
.integrantesTitulo {
  display: flex;
  justify-content: space-evenly;
  gap: 0.8vw;
  margin-bottom: 6vh;
  font-size: 1.2rem;
}

.cardsInformativos {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
}

/* Cards Integrantes */
.cardsIntegrantes {
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2vw 4vw;
  flex-wrap: wrap;
}

