.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15vh;
}

/* Texto Inicial */
.textoInicialBox {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.textoInicialBox h1 {
  font-size: 5rem;
  margin-bottom: 1vh;
}

.textoInicialBox p {
  font-size: 1.2rem;
  line-height: 2rem;
}

/* Cards Informativos */
.cardsInformativosBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardsInformativosTitulo {
  display: flex;
  justify-content: space-evenly;
  gap: 0.8vw;
  margin-bottom: 6vh;
  font-size: 1.2rem;
}

.cardsInformativos {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
}
