@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  font-family: "Space Grotesk", sans-serif;

  color-scheme: light dark;
  color: white;
  background-color: black;

  --red: #FE3849;
  --green: #0A95A5;
  --purple: #6D1ADA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

a:hover {
  transition: 0.5s;
  transform: translateY(-4px);
  text-decoration: underline;
  text-underline-offset: 6px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: white;
  }

  a {
    color: white;
  }
}